name: Update Data

on:
  workflow_dispatch: # Manual trigger only

permissions:
  contents: write
  pull-requests: write

jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Scrape Data
        run: python3 scraper.py

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "[bot] Update Data"
          title: "[bot] Update Data"
          branch: update-data
          delete-branch: true
          add-paths: |
            public/data.json
